<footer>
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nobis. Unde id culpa possimus ratione rerum cum velit ipsa molestias vero excepturi! Ad, fuga quidem cum et tempora fugiat sint, vel reiciendis iusto, ullam id mollitia labore animi magnam. Dolore ut commodi assumenda voluptatum et dolorum adipisci eum, id similique.</p>
</footer>